<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
            
	<title></title>
</head>
<body>
  <div id="app">    
    <div class="row" v-if="tasks.length > 0">                    
      <div class="card col l4 s12 offset-l4 blue white-text">
        <p>Lista de Tareas</p>
      </div> 
      <div class="card col l4 s12 offset-l4" v-for="task in tasks">
        <p>{{task.name}}</p>
      </div>    
    </div>
    <div class="row" v-else>
      <div class="card col l4 offset-l4 blue white-text">
        <p>No Hay Tareas</p>
      </div>
    </div>
    <!--Floating Menú MaterializeCss
    <div class="fixed-action-btn toolbar">
        <a class="btn-floating btn-large green">
          <i class="large material-icons">menu</i>        
        </a>
        <ul>          
          <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">add</i></a></li>
          <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">format_quote</i></a></li>
          <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">publish</i></a></li>
          <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>
    -->
    <!--Normal Action Float Button-->
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large blue">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating green modal-trigger" href="#addTask"><i class="material-icons">add</i></a></li>        
        <li><a class="btn-floating blue" v-on:click="deleteAllTasks"><i class="material-icons">edit</i></a></li>        
        <li><a class="btn-floating red" v-on:click="deleteAllTasks"><i class="material-icons">delete</i></a></li>        
      </ul>
    </div> 
    <!--Modal to Set New Data-->
    <div id="addTask" class="modal">
      <form v-on:submit.prevent="addTask">
        <div class="modal-content">
          <h4>Nueva Tarea</h4>    
          <div class="row">
              <div class="input-field col s12">
                <input 
                  id="taskName " 
                  class="validate"
                  type="text" 
                  placeholder="Ej. Hacer 20 flexiones" 
                  v-model="tasksSchema.name" 
                  required>
                <label for="taskName">Nombre</label>
              </div>          
          </div>  
        </div>
        <div class="modal-footer">     
          <button type="submit" class="waves-effect waves-green btn green"><i class="material-icons">add</i></button>
        </div>
      </div>                                   
    </form>
  </div>
  
            
    
<style type="text/css">
    body{
    margin: 0;
    padding: 0;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  let App = new Vue({
  el: '#app',
  data: {
    uiModalAddTask: '',
    uiMenuButton: '',
    message: 'Hello World',  
    tasks: [],
    tasksSchema: {
      name: ''      
    } 
  },
  mounted: function(){
    //MaterializeCss Initalizer          
      this.uiModalAddTask = M.Modal.init(document.querySelector('#addTask'), {});
      this.uiMenuButton = M.FloatingActionButton.init(document.querySelector('.fixed-action-btn'), {
        //Change to Turn On Toolbar and Uncomment HTML Code Above
        toolbarEnabled: false
      })      
      
    
    
    

    //LocalStorage Function    
    this.getAllTasks()
  },
  methods: {
    getAllTasks(){   
      let tasksStorage = JSON.parse(localStorage.getItem("tasks"))
      this.tasks = ( tasksStorage == null) ? new Array() : tasksStorage
      
    },
    addTask(){
        
      this.tasks.push({name: this.tasksSchema.name})
      localStorage.setItem("tasks", JSON.stringify(this.tasks));
      //Success Message Here  
      this.uiModalAddTask.close()
      this.getAllTasks()                  
      this.clearSchemaTask()      
      
    },
    deleteAllTasks(){
      localStorage.removeItem("tasks");      
      this.getAllTasks()
    },
    clearSchemaTask(){
      this.tasksSchema.name = ""      
    }
  }
})
</script>
</body>
</html>